
.dateRangeControl {
    float: right;
    background-color: #e2e2e2;
    padding: calc(1px + 0.3vw);
    display: inline-block;
    border-radius: 4px;
    color: #525252;
    font-weight: bold;
    margin-right: 15px;
}

.dateRangeControl button:hover {
    color: rgba(255, 118, 0, 0.54);
}

.dateRangeControl button {
    color: rgb(255, 118, 0);
    background: #f5f5f5 !important;
    font-size: .95em;
    padding: 0 0 0 4px;
    min-width: 0px !important;
}

.dateRangeControl .title {
    font-weight: bold;
}


.dateRangeEditor {
    position: absolute;
    top: 60px;
    right: 1vw;
    background: rgba(252, 255, 245, 0.74);
    border: 1px solid rgba(25, 52, 65, 0.63);
    border-radius: 5px;
    padding: 5px;
    z-index: 1000;
    display: none;
}


.dateRangeEditor form {
    margin: 0px;
}

.dateRangeEditor form input {
    margin: 2px;
    padding: 4px;
}


