doctype html
html(lang="en") 
    head
        meta(charset='utf-8')
        title NFL Arrest - Football Arrest Record Database &amp; Statistics
        include PageBlocks/Head_MetaData.pug
        meta(name='description' content="Explore every NFL Players arrest record since 2000, find the most common crimes for your rival football team. Find out what players have the most arrests and read the details of each incident! Checkout our Arrest Meter and findout how many days it's been since the last NFL Arrest.")
        include PageBlocks/Head_Meta_Twitter.pug
        include PageBlocks/Head_Meta_OpenGraph.pug
        include PageBlocks/Head_Favicon.pug
    #fb-root
    .container
      header
        include PageBlocks/PageLogoTitle.pug
        span The Database of NFL Arrest Statistics
      br.clear.hide-mobile
      section
        #index-top-row.row
          #pageDescriptionContainer.four.columns
            include PageBlocks/IndexPageDescription.pug
          #kpi-window-header.four.columns
            include PageBlocks/IndexArrestMeterBlock.pug
          include PageBlocks/mixins/ShareButtons.pug
          +ShareButtons('Index','https://NflArrest.com/')
        .row.dividedSection
          include PageBlocks/DateRangeControl.pug
          include PageBlocks/IndexMainChartSelectButtons.pug
        .chart-container
          #chart.tweleve.columns
        br.clear
        aside
          include PageBlocks/mixins/TopList.pug
          +TopList('Crime Categor', false, 'ies', 'y')
          +TopList('Player', false)
          +TopList('Position', true)
          br.clear
          +TopListControlRow
          br.clear
        #bottomTeamLinks
          h4 Teams
        include PageBlocks/ArrestDetailsContainer.pug
      include PageBlocks/mixins/Body_Footer.pug
      +BodyFooter("Index","Index",true)
