extends layouts/page-layout.pug

block content
    br.clear
    section
        h1 Dataset Description
        p The database that drives NFLArrest was originally sourced in 2016 from USAToday.com's NFL Arrest dataset. Since 2016, it has been augmented with additional dimensions and measures to visualize and add detail to the data. 
        h2 Dataset Limitations
        p The intent of this dataset is to capture arrests more serious than a traffic violation where the accused is an active NFL player at the time of arrest or after that date. Some arrests go unreported publicly and therefore will not be listed on this site. 
        p NFL Free agent arrests are only included in this dataset if the player later signs with a team. Former NFL Player Arrests are not included at this time.
        h2 NFLArrest Update Schedule
        p NFLArrest.com is updated as often as possible with the latest incidents. However, NFLArrest is run by one developer and the site is updated manually. To help inform you of the latest website release update, the bottom of each page contains the date of last Update and a link to the version build history. 