extends layouts/detailPage-layout.pug

block content 
    br.clear
    section
      aside
        include PageBlocks/MX_TopChart.pug
        +TopChart("Common Crimes", "crimechart")
        +TopChartEmpty
        +TopChart("Teams Arrested Under", "teamchart")
      br.clear
      include PageBlocks/ArrestDetailsContainer.pug
