extends layouts/detailPage-layout.pug

block content
    br.clear
    section
      aside
        .four.columns.top-list
          h3 Top Team
          #teamchart
        .four.columns.top-list
        .four.columns.top-list
          h3 Top Crimes
          #crimechart
      br.clear
      include PageBlocks/ArrestDetailsContainer.pug
