extends layouts/detailPage-layout.pug

block top_charts
    include PageBlocks/MX_TopChart.pug
    +TopChart("Top Players", "playerchart")
    +TopChartEmpty
    +TopChart("Top Crimes", "crimechart")
