#shareButtons {float:right;}

#pageTitle {
    line-height: calc(38px + ((1px + 0.3vw)*2));
    text-align: left;
    padding-left: .5em;
    font-size: 36px;
}

#arrest_details_incident_count, #DetailPageRowTitle {
    border-bottom: 1px solid #eee;
}

@media (max-width: 640px) {
    #teamchart, #crimechart, #playerchart, #poschart, #crimeschart, #teamchart {
        max-height: 260px !important;
    }
    .c3-chart-arc text {
        fill: black;
    }
    .top-list h3 {
        font-size: 1.2 em;
    }
}