.BuildReleaseContainer {
    width:90%;
    border: 1px solid #eb8f00;
    border-radius: 8px;
}
.BuildReleaseContainerHeader {
    background: #eb8f004d;
    height: 3.5em;
}

.BuildReleaseEnvironmentProduction, .BuildReleaseEnvironmentDevelopment {
    height: 3.5em;
    display: inline-block;
    line-height: 3.5em;
    border-radius: 3px;
    color:#fff;
    font-weight: 700;
}
.BuildReleaseEnvironmentProduction {
    background: #b76513;
    
}
.BuildReleaseEnvironmentDevelopment {
    background: #6c5934;
}