#bottomTeamLinks a,
#tooltip span {
	border-radius: 3px;
	display: inline-block;
}

#bottomTeamLinks, #arrest_details_container {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

#bottomTeamLinks h4, #arrest_details_container h4 {
	color: #6a6a6a;
	font-weight: 600;
	padding: 15px 0 0;
}

#bottomTeamLinks a {
	text-decoration: none;
	color: #333;
	font-size: 1.051em;
	padding: 2.5px 3.5px;
	background: rgb(255, 235, 218);
	margin-top: 6px;
}

#bottomTeamLinks a:hover {
	background: rgb(255, 215, 182);
	cursor: pointer;
}

.donate {
    margin-bottom: 0.05rem !important;
}

#kpi-window-header h5 {
	color: #6a6a6a;
	font-weight: 600;
	margin-bottom: 3px;
}

@media (max-width: 640px) {
    .dateRangeControl {
        float: none !important;
        margin-right: auto !important;
    }
}