# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/test.sql
/node_modules/
/Processes/node_modules/
/Processes/node/node_modules/
/Processes/node/dbSettings.json
/public_html/api/db_config.php
/public_html/admin/db_config.php
/public_html/admin/Login_System_Settings.php
/public_html/london/
/public_html/css/vendor/jquery-ui.structure.min.css
/public_html/css/vendor/jquery-ui.theme.min.css
/Website/api/db_config.php
/Website/admin/db_config.php
/Website/admin/Login_System_Settings.php
/Website/london/
/Website/css/vendor/jquery-ui.structure.min.css
/Website/css/vendor/jquery-ui.theme.min.css
/Website/css/styles.css
/ghPages/dbconfig.js
*/node_modules/