# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/api/db_config.php
/node/node_modules/
/london/
/css/vendor/jquery-ui.structure.min.css
/css/vendor/jquery-ui.theme.min.css
/test.sql
