doctype html 
html(lang="en") 
    head 
        meta(charset='utf-8')
        // rather than page title variable use homepage title
        title NFL Arrest - Football Arrest Record Database &amp; Statistics
        // pageDesc should === "Explore every NFL Players arrest record since 2000, find the most common crimes for your rival football team. Find out what players have the most arrests and read the details of each incident! Checkout our Arrest Meter and findout how many days it's been since the last NFL Arrest.")
        meta(name="description", content=pageDesc)
        include ../PageBlocks/Head_MetaData.pug
        
        // diff from detail (twitter and open graph)
        include PageBlocks/Head_Meta_Twitter.pug
        include PageBlocks/Head_Meta_OpenGraph.pug
        // end diff from detail
        
        include ../PageBlocks/Head_Favicon.pug
    body
        .container
            include ../PageBlocks/mixins/Body_Header.pug
            +BodyHeader("Index")
            block content
            include ../PageBlocks/mixins/Body_Footer.pug
            +BodyFooter("Index", pageTitle)