doctype html 
html(lang="en") 
    head 
        title NFL Arrest | #{pageTitle}
        meta(name="description", content=pageDesc)
        include ../PageBlocks/Head_MetaData.pug
        include ../PageBlocks/Head_Favicon.pug
    body
        .container
            include ../PageBlocks/mixins/Body_Header.pug
            +BodyHeader("Index")
            block content
            include ../PageBlocks/mixins/Body_Footer.pug
            +BodyFooter("Index", pageTitle)