header
      a.logo(href='https://nflarrest.com')
        img(src='images/logo-transparent.png' alt='NFL Arrest Logo' height='30')
      a(href='https://nflarrest.com')
        h1(style='margin-top:0px;')
          | NFL
          span Arrest
          | .com
      a.twitter-share-button.twitter_Btn(href='https://twitter.com/share' data-url='https://nflarrest.com' data-text='Explore the arrest records of Football Players, find the most common crimes for your football team.') Tweet
      .fb-share-button.fb_Btn(data-href='https://NFLArrest.com' data-layout='button_count')
      .dateRangeControl
        span.title Date Range:
        input#dateRangeJquery(name='dateRangeJquery')