meta(name='twitter:card' content='summary_large_image')
meta(name='twitter:site' content='@nfl_arrest')
meta(name='twitter:creator' content='@patrickmurphoto')
meta(name='twitter:title' content='NFL Arrest Statistics')
meta(name='twitter:description' content='Explore the arrest records of NFL Players, find the most common crimes for your rival football team. Find out what players have the most arrests and read the details of each incident!')
meta(name='twitter:image' content='https://nflarrest.com/images/preview.png')