#arrest-meter
  h5 Arrest Frequency:
  .row.meter-bg
    .meter-fg &nbsp;
    span.avgRecord 7
    span.recordHolder 64
  p#arrest_meter_text
    | It has been 
    b ?
    |  Days since the last arrest.
  p#arrest_meter_subtext
    | Average: 
    b 7
    |  Days | Record W/O arrest: 
    b 64
    |  Days
#recent-arrest-card
  h5 Most Recent Arrest:
  #mostRecentArrestCard