p#index-description
  | An interactive visual database of National Football League player Arrests &amp; Charges. 
  span.hide-mobile
    | Learn about your rival team&apos;s history with the law, break down arrests by Player, Position, Crime and Team. 
    b
      | Keep in mind there are 1700 NFL Players and their arrest rates are
      // <a href="NFLArrestRate.html">
      | lower than the USA arrest rate
      // </a>
      | .