mixin ShareButtons(url="https://nflarrest.com")
    a.twitter-share-button.twitter_Btn(href='https://twitter.com/share' data-url=url data-text='Explore the arrest records of Football Players, find the most common crimes for your football team.') Tweet
    .fb-share-button.fb_Btn(data-href=url data-layout='button_count')