<!doctype html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>NFL Arrest - Football Arrest Record Database &amp; Statistics</title>

	<!-- Meta Tags for social Media -->
	<meta property="og:url" content="http://NFLArrest.com" />
	<meta property="og:title" content="NFL Arrest Statistics" />
	<meta property="og:description" content="Explore every NFL Players arrest record since 2000, find the most common crimes for your rival football team. Find out what players have the most arrests and read the details of each incident! Checkout our Arrest-o-Meter and findout how many days it's been since the last NFL Arrest." />
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="NFL Arrest" />
	<meta property="og:image" content="http://nflarrest.com/images/preview.png?cache=710" />
	<meta name="description" content="Explore every NFL Players arrest record since 2000, find the most common crimes for your rival football team. Find out what players have the most arrests and read the details of each incident! Checkout our Arrest-o-Meter and findout how many days it's been since the last NFL Arrest.">
	<meta name="author" content="Patrick Murphy">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@nfl_arrest">
	<meta name="twitter:creator" content="@patrickmurphoto">
	<meta name="twitter:title" content="NFL Arrest Statistics">
	<meta name="twitter:description" content="Explore the arrest records of NFL Players, find the most common crimes for your rival football team. Find out what players have the most arrests and read the details of each incident!">
	<meta name="twitter:image" content="http://nflarrest.com/images/preview.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="image_src" href="http://nflarrest.com/images/preview.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/images/favicon/favicon-194x194.png" sizes="194x194">
	<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/images/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/images/favicon/manifest.json">
	<link rel="shortcut icon" href="/images/favicon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="NFL Arrest">
	<meta name="application-name" content="NFL Arrest">
	<meta name="msapplication-TileColor" content="#e7b736">
	<meta name="msapplication-TileImage" content="/images/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
	<meta name="theme-color" content="#e7b736">
</head>

<body>