body {
	background-color: #f8f8f8;
}

.error, .success, .status {
	border:1px solid #000;
	background:#9DA3AB;
	padding:1rem;
	margin:auto;
	display: block;
	text-align: left;

}

.error {
	border-color:#EDB1C6;
	background-color:#fDc1d6;
}

.success {
	color: green;
	border-color: green;
	background-color: #88ff88;
}

/* Admin Header & Logo */
header {
	height:2.5rem;
	padding-left: 0px;
}
header>span {
	padding-top: 0px;
	line-height: 1.3em;
}
header>a>h1 {
	line-height: 1.3em;
	font-size: 2rem;
}
header>a>h1>span {
	color:#C08654;
}
.logo{
	padding-top: 4px;
}
.button-primary {
	background-color: #C08654 !important;
	border:0px !important;
}
footer a {
	color: #C08654 !important;
}

/* Main Content */
section {
	text-align: left;
	clear: both;
}
section h2 {
	font-size: 3.8rem;
}
section h3 {
	background-color:#efefef;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color:#777;
}
section label {
	display:inline-block;
}

/* Content Area Inputs */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
	padding: 0 10px;
	text-transform: none;
}

input[type="date"] {
	height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

div#tabs select, div#tabs input[type="date"], div#tabs input[type="text"], div#tabs textarea {
	float:right !important;
	width:100%;
}

div#tabs label {
	margin-bottom: 0px;
}

.dialogBox input, .dialogBox textarea, .dialogBox select {
	width:100%;
}

/* Add Icons */
.add_icon {
	display: inline-block;
	width: 17px;
	height: 16px;
	float:right;
	background-image: url('../../images/add_icon.PNG');
	background-repeat:no-repeat;
   	background-size:contain;
}

.add_icon:hover {
	background-image: url('../../images/add_icon_hover.PNG');
}

/* News Feed */
.newsItem {
	background-color:#fff;
	box-shadow:0px 2px 2px #bbb;
	margin-bottom:5px;
	border-radius:4px;
}

/* Tabs CSS */
#AdminTabs {
	background-color: #f8f8f8;
	border:0px;
}
#tabs {
	border:0px;
}

.ui-widget-content {
	border-radius: 0px;
}

.ui-tabs-panel	 {
	background-color: #fff;
	border-left: 2px solid #9DA3AB !important;
	padding-left: 0px;
}

.ui-tabs-vertical {
	width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 20%;
}
.ui-tabs-nav {
	background-color: #f8f8f8;
	border:0px;
	padding-right: 0px;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border: 0px;
	margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 0px;
}

.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 75%;
}

.ui-state-active, .ui-widget-content .ui-state-active
, .ui-widget-header .ui-state-active, a.ui-button:active
, .ui-button:active, .ui-button.ui-state-active:hover {
	background-color: #3076C3 !important;
	border:0px;
	border-color: #3076C3;
}