extends layouts/detailPage-layout.pug

block content
    br.clear
    section
      aside
        .four.columns.top-list
          h3 Top Teams
          #teamchart
        .four.columns.top-list
          h3 Top Players
          #playerchart
        .four.columns.top-list
          h3 Top Positions
          #poschart
      br.clear
      include PageBlocks/ArrestDetailsContainer.pug
