extends layouts/detailPage-layout.pug

block top_charts
    include PageBlocks/mixins/TopChart.pug
    +TopChart("Common Crimes", "crimechart")
    +TopChartEmpty
    +TopChart("Teams Arrested Under", "teamchart")