.MainChartSelection
    button#mainChartByTeamBtn.mainChartBtn.button By Team
    button#mainChartByYearBtn.mainChartBtn.button By Year
    button#mainChartByConfBtn.mainChartBtn.button By Day
    button#mainChartBySeasonBtn.mainChartBtn.button By Season
    button#mainChartByConfDivBtn.mainChartBtn.button By Division