a.logo(href='https://nflarrest.com')
    img(src='images/logo-transparent.png' alt='NFL Arrest Logo' height='30')
a(href='https://nflarrest.com')
    h1.site-title
        | NFL
        span Arrest
        | .com