mixin JSIncludeScripts(pageType="Default", pageTitle="Team")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js" defer='')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" defer='')
    script(src="js/vendor/jquery-ui.min.js" defer='')
    script(src="js/vendor/jquery.multi-select.min.js" defer='')
    if pageType == "Detail"
        script(src="js/vendor/d3.min.js" async='')
        script(src="js/vendor/c3.js" async='')
        script(src="js/vendor/jquery.comiseo.daterangepicker.min.js" async='')
        script(src="js/vendor/pagination.min.js" async='')
        script(src='js/data/ArrestsCacheTable_data_array.js' async='')
        script(src="js/compressed/DetailPage.min.js" defer='')
        script(src="js/pages/" + (new String(pageTitle).replace(' ','_')) + "DetailPage.js" defer='') 
    else if pageType == "Index"
        script(src='js/vendor/d3.min.js' defer='')
        script(src='js/vendor/c3.min.js' defer='')
        script(src='js/vendor/jquery.comiseo.daterangepicker.min.js' defer='')
        script(src="js/vendor/pagination.min.js" defer='')
        script(src='js/data/ArrestsCacheTable_data_array.js' defer='')
        script(src='js/MainChart.js')
        script(src='js/charts/stackedBarChart.js')
        script(src='js/compressed/index.min.js' defer='')
    else if pageType == "Default"
        script(src="js/Utilities.js" async='')
        script(src="js/GoogleAnalyticsManager.js" async='')
        script(src="js/StyleSheetManager.js" async='')
        script(src="js/LoadingBarManager.js" async='')
        script(src="js/data/lastUpdate_data.js" async='')
        script(src="js/WebPage.js" async='')
        script(src="js/pages/DefaultPage.js" defer='')
        