mixin TopList(listTitle="Position", noBorder = false)
  .four.columns.top-list(class={ 'no-border': noBorder == true})
    h3 Top #{listTitle}s
    span.list-heading
      | #{listTitle}:
      span # Arrests
    ol(id="top_"+ listTitle.toLowerCase() + "s_list")

//    .four.columns.top-list
//        h3 #{chartTitle}
//        div(id=chartID)