.hide-mobile {}

@media (max-width: 640px) {
	.hide-mobile {
		display: none;
	}
	#loading-bar {
		font-size: 1.8em;
		border: 1px solid #777;
	}
	.container {
		padding: 0px 0px;
	}
	button,
	.button {
		height: 24px;
		line-height: 24px;
		font-size: .9rem;
		padding: 0px 6px;
	}
	/* Header 
	----------------
	*/
	header {
		height: 50px;
	}
	header>span {
		display: none;
	}
	.site-title {
		line-height: .4;
	}
	#pageDescriptionContainer {
		margin-bottom: .7em;
		border-bottom: 1px solid #eee;
	}
	#index-description {
		font-size: .75em;
		/*width: 65%;*/
		display: inline-block;
	}
	.logo {
		padding-top: 11px;
	}
	/* KPIs 
	----------------
	*/
	#activePlayerArrestRate {
		width: 34%;
		display: inline-block;
	}
	.kpi-value-large {
		font-size: 1.2em;
	}
	.kpi-value-small {
		font-size: 0.75em;
	}
	.kpi-description-x-small {
		font-size: x-small;
	}
	/* Newsletter  
	----------------
	*/
	#newsletterDisplayBtn {
		display: block;
		margin: 10px auto;
	}
	#newsletterContainer {
		display: none;
	}
	#newsletterContainer span {
		font-size: .75em;
	}
	#newsletterContainer h5 {
		margin-bottom: 0px;
	}
	#newsletterForm input {
		height: 25px;
	}
	#newsletterForm input[type="submit"] {
		line-height: 0px;
	}
	#newsletterForm input[type="email"] {
		width: 80%;
	}
	/* Arrest-O-Meter 
	------------------ */
	#arrest-o-meter {
		width: 80%;
        margin: auto;
	}
	#arrest-o-meter h5 {
		font-size: 1em;
	}
	#arrest-o-meter p {
		font-size: .63em
	}
	#arrest-o-meter a {
		font-size: 0.78em;
	}
	.arrest-o-meterDetailsBtn {
		display: none;
	}
	.meter-bg,
	.meter-fg {
		line-height: 8px;
		height: 8px;
		text-shadow: 0px 1px #777;
	}
	.meter-bg span {
		background-color: transparent;
		font-size: .6em;
	}
	#arrest_meter_subtext {
		padding-bottom: 3px;
	}
	/* Share buttons
	----------------- */
	.share_buttons {
		width: 49%;
		padding: 0px;
	}
	/* Main Chart 
	-------------------*/
	.customLegend-item {
		font-size: .78em;
	}
	.customLegend-item-color {
		height: 5px;
		width: 5px;
	}
	.MainChartSelection {
		float: none;
		margin-left: auto;
	}
	#bottomTeamLinks a {
		margin-top: 3px;
		font-size: .9em;
		padding: 2px 3px;
	}
	/* Top Lists
	-----------------------*/
	.top-list>h3 {
		font-size: 1.6em;
	}
	.top-list li {
		height: 27px;
		line-height: 27px;
	}
	.top-list .value-cell {
		font-size: .85em;
		margin-top: 2px;
		line-height: 20px;
		padding: 2px 7px;
	}
}
