/*  FILE INCLUDE: #
    Styles for detail pages cards on mobile
*/
.card {
    box-shadow: 2px 2px 5px #bbb;
    background-color: #fffaf0;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    position: relative;
    border-radius: 5px;
    font-size: .85em;
    padding-bottom: 20px
}

.name_item,
.outcome_item {
    visibility: hidden;
    display: none
}

.date_item {
    font-weight: 700;
    color: #a9a9a9;
    position: absolute;
    bottom: 2px;
    left: 5px
}

.crime_item a,
.team_item a,
.name_item a {
    font-size: .9em;
    text-decoration-style: dotted
}

.crime_item,
.team_item,
.name_item {
    padding: 4px;
    border-radius: 3px;
    position: absolute;
    top: 5px
}

.name_item {
    font-size: 1.1em;
    position: relative;
    top: 4px;  
    background-color: darkslategrey;
}

.crime_item {
    right: 5px
}

.crime_item a, .name_item a {
    color: #fff
}

.team_item {
    left: 5px
}
