
@media (max-width: 640px) {
    #teamchart, #crimechart, #playerchart, #poschart, #crimeschart, #teamchart {
        max-height: 260px !important;
    }
    .c3-chart-arc text {
        fill: black;
    }
    .top-list h3 {
        font-size: 1.2 em;
    }
}