#newsletterDisplayBtn {
	display: none;
}

#newsletterContainer {
	display: block;
}

#newsletterContainer h5 {
	color: #6a6a6a;
	font-weight: 600;
	margin-bottom: 3px;
}

#newsletterForm input[type="email"] {
	display: inline-block;
}

#newsletterForm input[type="submit"] {
	padding: 0px;
	width: 15%;
	background: #c77522;
	color: #242424;
	display: inline-block;
}
