#chart,
#comparechart {
	min-height: 300px;
	background: #fff;
}

.MainChartSelection {}

.chart-options {}

.chart-container {
	width: 99%;
	margin-left: .5%;
}

.expanded {
	height: 80vh !important;
	max-height: none !important;
}

@media (max-height: 700px) {
	.expanded {
		height: 600px !important;
	}
}

.customLegend {
	background: #fff;
}

.customLegend-item {
	padding: 3px;
}

.customLegend-item-color {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 2px;
}
