.BuildReleaseContainer {
    width:90%;
    border: 1px solid #eb8f00;
    border-radius: 8px;
    margin-bottom: 1.5em;
}
.BuildReleaseContainerHeader {
    background: #eb8f004d;
    height: 2em;
}

.BuildReleaseContainerHeader h2 {
    font-size: 2em;
    font-weight: bold;
}
.BuildReleaseContainerHeader h3 {
    font-size: 1.8em;
}

#BuildReleaseEnvironmentLabel.BuildReleaseEnvironmentProduction, #BuildReleaseEnvironmentLabel.BuildReleaseEnvironmentDevelopment {
    height: 2em;
    display: inline-block;
    line-height: 2em;
    border-radius: 3px;
    color:#fff;
    font-weight: 700;
}

#BuildReleaseEnvironmentLabel.BuildReleaseEnvironmentProduction {
    background: #b76513;
    
}
#BuildReleaseEnvironmentLabel.BuildReleaseEnvironmentDevelopment {
    background: #6c5934;
}

#BuildReleaseContainer.BuildReleaseEnvironmentProduction {
    
}

#BuildReleaseContainer.BuildReleaseEnvironmentDevelopment {
    display: none;
    width:80%;
    margin-left: 16%;
}


.BuildReleaseContainer p {
    margin-bottom: .25em; 
}

.hideDevRelBtn {
    display: none;
}