mixin BodyFooter(pageType="Detail",pageTitle="Team",showLoadingBar=true)
    br.clear
    footer 
        span &copy; 2022 <a href="https://patrickmurphy.dev">Patrick Murphy</a> | <a href="https://www.usatoday.com/sports/nfl/arrests/">Data Source</a> | <span id="updateDateFooter">Updated: </span> |
        include ../DonateButton.pug
    if showLoadingBar
        include ../LoadingBar.pug
    include JS_Include_Scripts.pug
    +JSIncludeScripts(pageType,pageTitle)