mixin JSIncludeScripts(pageType="Default", pageTitle="Team")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="js/vendor/jquery-ui.min.js")
    if pageType == "Detail"
        script(src="js/vendor/d3.min.js")
        script(src="js/vendor/c3.js")
        script(src="js/vendor/jquery.comiseo.daterangepicker.min.js")
        script(src="js/vendor/pagination.min.js")
        script(src='js/data/ArrestsCacheTable_data_array.js' async='')
        script(src="js/compressed/DetailPage.min.js")
        script(src="js/pages/" + pageTitle + "DetailPage.js")
    else if pageType == "Index"
        script(src='js/vendor/d3.min.js' async='')
        script(src='js/vendor/c3.min.js' async='')
        script(src='js/vendor/jquery.comiseo.daterangepicker.min.js' async='')
        script(src="js/vendor/pagination.min.js")
        script(src='js/data/ArrestsCacheTable_data_array.js' async='')
        script(src='js/compressed/index.min.js' async='')
    else if pageType == "Default"
        script(src="js/StyleSheetManager.js")
        script(src="js/pages/DefaultPage.js")
        