* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

body,
html {
	background-color: #fff;
	color: #151414;
}

a {
	color: #23292c;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 5px;
}

h3 {
	font-size: 2.8rem;
}

h3,
section {
	text-align: center;
}

/* Utility Classes */
.clear {
	clear: both;
	display: block;
	height: 0px;
	line-height: 0px;
}

.show {
	display: block !important;
}

.hide {
	display: none;
}

.standard_case {
	text-transform: none;
}

.upper_case {
	text-transform: uppercase;
}

.site-title {
	line-height: 1.2;
}

.transparent {
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: .5;
	/* Safari 1.x */
	-khtml-opacity: .5;
	/* Good browsers */
	opacity: .5;
}

.no-border {
	border: 0px;
}

.logo {
	float: left;
	margin-left: 15px;
	padding-top: 23px;
}

.container {
	width: 100%;
	max-width: 1300px;
	border-right: 1px solid #efefef;
	border-left: 1px solid #efefef;
}
/* End Utility Classes */

/* Header */

header {
	background-color: #f8f8f8;
	height: 80px;
	border-bottom: 2px solid #d6d6d6;
	padding-left: 15px;
}

header > span {
	font-weight: 700;
	font-size: 17px;
	color: #9a9a9a;
	float: right;
	line-height: 80px;
	text-transform: uppercase;
	margin-right: 1em;
	letter-spacing: -1px;
}

header a h1:hover {
	text-decoration: underline;
	text-decoration-color: rgba(25, 52, 65, 0.41);
}

header h1 {
	float: left;
	color: #333333;
	font-family: 'Raleway';
	padding-left: 7px;
	font-size: 3rem;
	font-weight: 500;
	line-height: 80px
}
/*
header h1 span {
	color: rgb(255, 118, 0);
}
*/
/* UKRAINE Flag temp */
header h1 span {
    background: -webkit-linear-gradient(top, #0066cc 57%, #ffcc00 43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

/* End Header */


#index-description {
	padding-left: 3px;
	margin-bottom: .25em;
}

/* Button Styles */
button {
	margin-bottom: 0px;
	background: #ebebeb !important;
	border: 1px solid #adadad;
}


.button-primary {
	/*background-color: rgba(0, 12, 25, 0.25) !important;*/
	margin-top: 4px;
	margin-bottom: 3px;
	color: #fff;
	background-color: rgb(255, 118, 0) !important;
	border: 1px solid rgb(198, 92, 0) !important;
}

.button-small {
	border-color: rgba(173, 173, 173, 0.5);
	font-size: .9rem;
	height: 24px;
	line-height: 24px;
	background-color: rgba(145, 170, 157, 0.47);
}

.button-primary:hover,
.button-small:hover {
	background-color: rgb(255, 142, 45) !important;
}
/* End Button Styles */


/* Page Element Styles */
section {
	min-height: 35vh;
}

aside {
	padding-left: 2vw;
	margin-top: 1.75vh;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

footer {
	text-align: center;
	font-weight: 600;
	color: rgba(80, 80, 80, 0.46);
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	padding: 20px 0px;
}

footer a {
	color: rgb(255, 118, 0);
	text-decoration: none;
	border-bottom: 1px dotted rgba(25, 52, 65, 0.44);
}

.dividedSection {
	border-top: 1px solid rgba(219, 219, 219, 0.76);
	padding-top: 15px;
	margin-top: 15px;
}

.new-super {
	vertical-align: super;
	font-size: 9px;
	background: rgb(3, 143, 239);
	border-radius: 5px;
	padding: 2px;
	margin-left: 3px;
	margin-top: 2px;
	color: rgba(255, 255, 255, 0.72);
}

/* Search Styles */
#teamSearch,
#playerSearch {
	margin-top: 4px;
}

.search-row {
	margin-top: 1.75vh;
	padding-left: 2vw;
}

.search-row h5 {
	font-size: 2rem;
	margin-bottom: 2px;
}

#search-dialog table a {
	color: #2d789d;
}


/* Social Classes */
.share_buttons {
	padding-right: 7px;
}

.twitter_Btn {
	padding-top: 21px;
	margin-left: 5px;
}

.fb_Btn {
	top: -6px;
	margin-left: 5px;
}


/* Loading Bar Styles */
#loading-bar {
	position: absolute;
	width: 35vw;
	text-align: center;
	left: 30.5vw;
	top: 30vh;
	font-size: 3em;
	background-color: rgba(34, 34, 34, 0.45);
	padding: 2vw;
	border-radius: 30px;
	text-shadow: 2px 2px #444;
	border: 2px solid #777;
	color: #fff;
}


/* Page Styles */
.playerHeadshot {
	border-radius: 50%;
}
