
		<br class="clear" />
		<footer>Made By <a href="http://resume.patrickmurphyphoto.com" title="Want to see my Resume?">Patrick Murphy</a> | <a href="http://nflarrest.com/api/">Open API</a> | <a href="http://nflarrest.com/blog/">Blog</a> | <a href="PrivacyPolicy.html">Privacy Policy</a>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="donate" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="G8DZ4DLRQVD8Y">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</footer>
	</div>	


	<!-- Include Javascript Logic -->

	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="js/vendor/jquery-ui.min.js"></script>
	<script src="js/vendor/d3.min.js" async></script>
	<script src="js/vendor/c3.min.js" async></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js" async></script>
	<script src="js/vendor/jquery.comiseo.daterangepicker.min.js" async></script>
	<script src="js/compressed/index.min.js" async></script>
</body>

</html>