	<div id="fb-root"></div>
	<div class="container">
		<header>
			<a href="http://nflarrest.com" class="logo"><img src="images/logo-transparent.png" alt="NFL Arrest Logo" height="30" /></a>
			<a href="http://nflarrest.com">
				<h1 class="site-title">
					NFL<span>Arrest</span>.com
				</h1>
			</a>
			<span>The Database of NFL Arrest Statistics</span>
		</header>
		<br class="clear hide-mobile" />
		<section>
			<div class="row" id="index-top-row">
				<div id="pageDescriptionContainer" class="four columns">
					<p id="index-description">NFL Arrest provides an interactive visualized database of National Football League player Arrests &amp; Charges. <span class="hide-mobile">Learn about your rival team's history with the law, break down arrests by Player, Position, Crime and Team.</span> <b>Keep in mind there are 1700 NFL Players and their arrest rates are <a href="http://nflarrest.com/NFLArrestRate.html">lower than the USA arrest rate</a>.</b></p><span id="activePlayerArrestRate"></span></div>
				<div id="arrest-o-meter" class="four columns">
					<h5>The Arrest-O-Meter:</h5>
					<div class="row meter-bg">
						<div class="meter-fg">&nbsp;</div>
						<span class="avgRecord">7</span>
						<span class="recordHolder">64</span>
					</div>
					<p id="arrest_meter_text">It has been <b>?</b> Days since the last arrest.</p>
					<p id="arrest_meter_subtext">Average: <b>7</b> Days | Record W/O arrest: <b>64</b> Days</p>
					<a href="ArrestMeter.html" class="button arrest-o-meterDetailsBtn standard_case">Arrest-O-Meter Details</a>
					<br class="hide-mobile" />
					<a href="RecentArrestsByTeam.html" class="button standard_case">Recent Arrests by Team</a>
				</div>
				<div class="four columns share_buttons">
					<button class="button hide standard_case" id="newsletterDisplayBtn">Join Newsletter</button>
					<div id="newsletterContainer">
						<h5>Mailing List:</h5>
						<span>Be the first to know about NFL Arrests!</span>
						<form id="newsletterForm">
							<div>
								<input type="email" placeholder="e@mail.com" name="email">
								<input type="submit" name="submit" value="Go!">
							</div>
						</form>
					</div>
					<div class="fb-share-button fb_Btn" data-href="http://www.nflarrest.com/" data-layout="box_count">
					</div>
					<a href="https://twitter.com/share" class="twitter-share-button twitter_Btn" data-url="http://nflarrest.com" data-text="Explore the arrest records of Football Players, find the most common crimes for your football team." data-count="vertical">Tweet</a>
					<script type="text/javascript" src="//www.redditstatic.com/button/button1.js" defer></script>
					<form action="https://www.paypal.com/cgi-bin/webscr" class="donate" method="post" target="_top">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="G8DZ4DLRQVD8Y">
						<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
						<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</div>
			</div>
			<div class="row dividedSection">
				<div class="MainChartSelection">
					<button id="mainChartByTeamBtn" class="mainChartBtn button">By Team</button>
					<button id="mainChartByYearBtn" class="mainChartBtn button">By Year</button>
					<button id="mainChartBySeasonBtn" class="mainChartBtn button">By Season</button>
					<button id="mainChartByConfBtn" class="mainChartBtn button">By Day</button>
					<button id="mainChartByConfDivBtn" class="mainChartBtn button">By Division</button>
				</div>
				<div class="dateRangeControl">
					<span class="title">Date Range:</span> <input id="dateRangeJquery" name="dateRangeJquery">
				</div>
			</div>
			<div class="chart-container">
				<div class="tweleve columns" id="chart"></div>
				<div class="chart-options row">
					<button id="details_summary_btn" class="button-primary" title="Increase chart size.">Expand</button>
					<button id="hideAll_btn" class="button" title="After you click this button you will be able to select individual categories from the legend above by clicking on them.">Hide All Categories</button>
					<button id="showAll_btn" class="button" title="Unhide any hidden categories.">Show All Categories</button>
				</div>
			</div>
			<br class="clear" />
			<aside>
				<div class="four columns top-list">
					<h3>Top Crimes</h3>
					<span class="list-heading">Crime:<span># Arrests</span></span>
					<ol id="top_crimes_list">
					</ol>
				</div>
				<div class="four columns top-list">
					<h3>Top Players</h3>
					<span class="list-heading">Name:<span># Arrests</span></span>
					<ol id="top_players_list">
					</ol>
				</div>
				<div class="four columns top-list no-border">
					<h3>Top Positions</h3>
					<span class="list-heading">Position:<span># Arrests</span></span>
					<ol id="top_positions_list">
					</ol>
				</div>
				<br class="clear" />
				<div class='row control-row'>
					<button class="button-small" id="loadMoreLists">Load More</button>
				</div>
				<br />
			</aside>
			<div id="bottomTeamLinks">
				<h4>Teams</h4>
			</div>
		</section>