#filter-dialog {
	margin: auto;
	margin-top: 2%;
	width: 96%;
	border: 1px solid #aaa;
	border-radius: 4px;
	background-color: #fff;
}

#filter-dialog-container {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.comiseo-daterangepicker {
	position: fixed !important;
	top: 3%;
}

.ui-checkboxradio-label {
	font-size: 0.9em !important;
}


/* --------
Layout
-----------*/

#filters-close-button {
	font-weight: bold;
	padding: 0px;
	margin-left: 3px;
	float: right;
}

#filters-button-row button {
	float: right;
	margin-top: 0px;
}

.filter-column {
	margin-left: 0px !important;
}

.filter-section {
	margin-bottom: .7em;
}

.filter-section-title {
	padding-left: 1em;
	font-weight: bold;
	border: 1px solid #f4e6dd;
	border-radius: 3px;
	background: #fff6ed;
}

.filter-section-title:hover {
	background: #fffaf5;
	border-color: #f4ebe6;
}

.filter-section-title span {
	float: right;
	margin-right: .75em;
	color: #919191;
	font-weight: normal;
}

.filter-section-item {
	padding-left: 2em;
}


/*----------
Inputs
------------*/

.filter-section-item .dateRangeControl {
	float: none;
	margin-right: none;
	background: transparent;
	display: block;
}

.filter-section-item .dateRangeControl .title {
	display: none;
}

.filter-chosen {
	width: 85%;
}

.filter-chosen-multi {
	width: 85%;
}


/*Button for switching include exclude*/

.filter-type-btn {
	padding: 0px 2px;
	margin-right: -4px;
	border-radius: 0px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 28px;
	width: 14%;
	line-height: 28px;
	font-size: .5em;
	text-decoration: underline;
}

.filter-include {
	text-decoration-color: #1cac22;
}

.filter-exclude {
	text-decoration-color: #ac1c1c;
}
