/*  FILE INCLUDE: last
    Styles for KPI boxes
*/
.kpi-value-large,
.kpi-value-small {
    font-size: x-large;
    font-weight: bold;
    display: block;
    line-height: normal;
    color:#04416c;
}

.kpi-value-small {
    font-size: inherit;
    color:#426f8e;
}

.kpi-description-smaller,
.kpi-description-x-small {
    font-size: smaller;
    display: block;
    color: #888;
}

.kpi-description-x-small {
    font-size: x-small;
    color: #999;
}
